{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tecsup - Instituto de Educación</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script>
    <link href="{% static 'css/shop.css' %}" rel="stylesheet">
    <!-- Favicons -->
    <link href="{% static 'assets\img\favicon.png' %}" rel="icon">
  </head>

  <body>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Tecsup | Pasión por la tecnología</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contáctanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          <a href="" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
          <div class="list-group" style="margin-right: 20px;">
              {% for categoria in categoria_list %}
                  <a href="#" class="list-group-item">{{ categoria.nombre }}</a>
              {% endfor %}
          </div>
      </div>

        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <!-- Block Content -->
          {% block content %}{% endblock %}
          <!-- /Block Content -->
          
        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
      <footer class="py-5" style="background-color: #007BFF; color: #fff;">
        <div class="container">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
            <h5>Nosotros</h5>
            <ul class="nav flex-column">
              <p class="nav-link p-0 text-white">Acerca de TECSUP</p>
              <p class="nav-link p-0 text-white">Historia</p>
              <p class="nav-link p-0 text-white">Visión, Misión y Principios</p>
              <p class="nav-link p-0 text-white">Organización</p>
              <p class="nav-link p-0 text-white">Pilares de Éxito</p>
            </ul>
          </div>
    
          <div class="col-6 col-md-2 mb-3">
            <h5>Carreras y Cursos</h5>
            <ul class="nav flex-column">
              <p class="nav-link p-0 text-white">Nuestro Programas Académicos</p>
              <p class="nav-link p-0 text-white">Carreras Profesionales</p>
              <p class="nav-link p-0 text-white">Carreras Técnicas</p>
              <p class="nav-link p-0 text-white">Cursos y Programas de Extensión</p>
              <p class="nav-link p-0 text-white">Cursos Online</p>
            </ul>
          </div>
    
          <div class="col-6 col-md-2 mb-3">
            <h5>Áreas de Formación</h5>
            <ul class="nav flex-column">
              <p class="nav-link p-0 text-white">Nuestras Áreas de Formación</p>
              <p class="nav-link p-0 text-white">Electricidad y Electrónica</p>
              <p class="nav-link p-0 text-white">Gestión y Producción</p>
              <p class="nav-link p-0 text-white">Mecatrónica</p>
              <p class="nav-link p-0 text-white">Mecánica y Aviación</p>
            </ul>
          </div>
    
          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>Subscribete para no perderte las novedades</h5>
              <p>Tecsup | Pasión por la Tecnología</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <input id="newsletter1" type="text" class="form-control" placeholder="Correo Electrónico">
                <button class="btn btn-primary" style="background-color: #3CA8DF; color: #fff;" type="button">Subscribirse</button>
              </div>
            </form>
          </div>
        </div>
    
        <div class="d-flex justify-content-center align-items-center flex-column flex-sm-row py-4 my-4 border-top">
          <p>&copy; 2023 Tecsup, Lima | Todos los derechos reservados</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
          </ul>
        </div>
      </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
